*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
}
.container .email-signature{
  width: 700px;
  display: flex;
  align-items: center;
  background-color: #222;
  border-radius: 5px;
  box-shadow: 0 5px 7px #000;
  padding: 10px 40px;
  position: relative;
  overflow: hidden;
}
.container .email-signature .image img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #FFF;
  box-shadow: 0 0 5px #333;
  position: relative;
}
.container .email-signature .image::before{
  content: '';
  position: absolute;
  top: -25px;
  right: 70%;
  height: 300px;
  width: 300px;
  background: #f0f0f0;
  border-radius: 50%;
  box-shadow: 20px 0 0 #2c3e50;
}
.container .email-signature .contant{
  padding-left: 60px;
}
.container .email-signature .contant .name{
  padding-left: 10px;
  font-size: 25px;
  color: #f0f0f0;
}
.container .email-signature .contant .post{
  font-size: 15px;
  padding: 10px 0;
  margin: 10px 5px;
  border-radius: 50px;
  background: #ccc;
  counter-reset: #333;
  text-align: center;
}
.container .email-signature .contant .contant{
  margin-top: 30px;
}
.container .email-signature .contant .contant li{
  list-style: none;
  margin: 10px 0;
  color: #ccc;
  font-weight: 600;
  letter-spacing: 2px;
}
.container .email-signature .contant .contant li i{
  height: 35px;
  width: 35px;
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  background: #2c3e50;
  margin-right: 10px;
  color: #fff;
}
.container .email-signature .contant .icons{
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: flex;
  flex-flow: column;
}
.container .email-signature .contant .icons a{
  text-decoration: none;
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  background: #2c3e50;
  color: #FFF;
  border-radius: 50%;
  margin: 5px 0;
}
.container .email-signature .contant .icons a:hover{
  background: #333;
}

@media (max-width:768px){
  .container .email-signature{
    flex-flow: column;
    width: 75%;
  }
  .container .email-signature .image::before{
    width: 100%;
    box-shadow: 0 15px 0 #2c3e50;
    top: -25%;
    left: 0;
  }
  .container .email-signature .contant{
    width: 100%;
    text-align: center;
    padding: 50px 0;
  }
  .container .email-signature .contant .contant li{
    text-align: left;
  }
  .container .email-signature .contant .icons{
    top: 93%;
    right: 0;
    width: 100%;
    flex-flow: row;
    justify-content: center;
  }
  .container .email-signature .contant .icons a{
    margin: 0 5px;
  }
}